html {
  scroll-behavior: smooth;
}

body {
  background-color: #B7997D;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.headerContainer {
  background-color: #1F1E26;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header {
  height: 50px;
  color: #e0d6ce;
  justify-content: space-between;
  padding: 30px 100px 0 100px;
}

.logo {
  max-height: 100px;
  width: 120px;
  position: absolute;
  top: 0px;
  left: 25px;
}

.headerLinks {
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.headerLinks a {
  text-decoration: none;
  color: #e0d6ce;
  padding: 10px 15px;
  border-radius: 25px;
  transition: all 0.3s;
}

.headerLinks a:hover {
  background-color: #614c39;
  transform: translateY(-5px);
}

.home {
  color: #1F1E26;
  position: absolute;
  top: 0px;
}

.part1 {
    background-image: url(../photos/Home/home1.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 800px;
    margin-top: 60px;
}

.part12 {
  color: #ffffff;
  font-size: 70px;
  position: absolute;
  top: 370px;
  left: 25px;
}

.part13 {
  color: #ffffff;
  font-size: 30px;
  font-style: oblique;
  position: absolute;
  top: 450px;
  left: 35px;
}

.drama a {
  background-color: #191919;
  color: #ffffff;
  font-size: 20px;
  border-radius: 15px;
  position: absolute;
  top: 500px;
  left: 25px;
  padding: 5px 10px;
  text-decoration: none;
}

.drama a:hover {
  background-color: #614c39;
}

.history a {
  background-color: #191919;
  color: #ffffff;
  font-size: 20px;
  border-radius: 15px;
  position: absolute;
  top: 500px;
  left: 120px;
  padding: 5px 10px;
  text-decoration: none;
}

.history a:hover {
  background-color: #614c39;
}

.Psychological-Drama a {
  background-color: #191919;
  color: #ffffff;
  font-size: 20px;
  border-radius: 15px;
  position: absolute;
  top: 500px;
  left: 215px;
  padding: 5px 10px;
  text-decoration: none;
}

.Psychological-Drama a:hover {
  background-color: #614c39;
}

.Biography a {
  background-color: #191919;
  color: #ffffff;
  font-size: 20px;
  border-radius: 15px;
  position: absolute;
  top: 500px;
  left: 435px;
  padding: 5px 10px;
  text-decoration: none;
}

.Biography a:hover {
  background-color: #614c39;
}

.part14 a {
  background-color: #403e47;
  position: absolute;
  top: 555px;
  left: 25px;
  font-size: 30px;
  color: #ffffff;
  padding: 0 15px;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s;
}

.part14 a:hover {
  background-color: #000000;
  transform: translateY(-5px);
  color: #ffffff;
}

.story {
  color: #050505;
  position: absolute;
  top: 800px;
  left: 0px;
}

.part2 {
  background-image: url(../photos/Story/story.jpg);
  width: 50%;
  background-position: center;
  background-size: cover;
  height: 800px;
  margin-top: 50px;
}

.part22 {
  color: #191919;
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: 915px;
  left: 820px;
}

.part23 {
  color: #191919;
  font-style: oblique;
  font-size: 30px;
  position: absolute;
  top: 1020px;
  left: 820px;
  right: 25px;
}

.cast0 {
  color: #000000;
  position: absolute;
  top: 1700px;
}

.part3 {
    background-image: url(../photos/cast/cast.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 1100px;
    margin-top: 50px;
}

.cast {
  position: absolute;
  top: 2925px;
  left: 35px;
  font-size: 70px;
  color: #191919;
  font-weight: bold;
}

.actor-list1 {
  position: absolute;
  top: 3050px;
  left: 100px;
  background-color: #1F1E26;
  box-shadow: 0 4px 8px;
}

.actor-item1 {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

.actor-image1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: -95px;
}

.actor-image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actor-image2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 205px;
  left: -95px;
}

.actor-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actor-image3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 390px;
  left: -95px;
}

.actor-image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actor-list2 {
  position: absolute;
  top: 3050px;
  right: 15px;
  background-color: #1F1E26;
  box-shadow: 0 4px 8px;
}

.actor-item2 {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

.actor-image4 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 540px;
}

.actor-image4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actor-image5 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 205px;
    right: 540px;
}

.actor-image5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.actor-image6 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 390px;
    right: 540px;
}

.actor-image6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


p {
  color: #B7997D;
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

strong {
  color: #5f4936;
}

.photo {
  position: absolute;
  top: 3850px;
  right: 60px;
  box-shadow: 0 4px 8px;
}

.award0 {
  color: #B7997D;
  position: absolute;
  top: 3640px;
}

.photo-container {
  color: #1F1E26;
  box-shadow: 0 8px 16px;
}

.awards-container1 {
  width: 850px;
  height: 300px;
  padding: 20px;
  position: absolute;
  top: 3850px;
  left: 100px;
  background-color: #1F1E26;
  box-shadow: 0px 4px 8px;
}

.awards-container2 {
  width: 850px;
  height: 300px;
  padding: 20px;
  position: absolute;
  top: 4250px;
  left: 100px;
  background-color: #1F1E26;
  box-shadow: 0 4px 8px;
}

.oscar {
  color: #1f1e26;
  font-size: 70px;
  position: absolute;
  top: 3730px;
  left: 35px;
  font-weight: bold;
}

.oscar2 {
  color: #1f1e26;
  font-size: 60px;
  position: absolute;
  top: 3740px;
  left: 300px;

}

.award-item {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.award {
  font-size: 55px;
  font-weight: bold;
  color: #B7997D;
}

.winner {
  font-size: 40px;
  color: #9a9898;
}

.end {
  color: #B7997D;
  position: absolute;
  top: 400px;
}
